/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/* ========================================================================== 
    Mason M3dia Website Template V.2
    A flexbox & bootstrap based website theme by Andrew Mason & Mason Media
    andrewmasonmedia.com
    copyright 2017 
    main.css
   ========================================================================== */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* css/js for fading pages in on load */

body {
    font-family: 'Abril Fatface', cursive, helvetica, sans-serif;
    opacity: 0;
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
/*
body.fade-out {
    opacity: 0;
    transition: none;
}
*/

  
/*global */    

@font-face {
	font-family: 'Abril Fatface, cursive', 'Zilla Slab Highlight, cursive';
	src: url('webfont.eot'); /* IE9 Compat Modes */
	src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/fonts/abril-font-folder/AbrilFatface-Regular.woff, /fonts/zilla-font-folder/ZillaSlabHighlight-Regular.woff, /fonts/zilla-font-folder/ZillaSlabHighlight-Bold.woff') format('woff'), /* Modern Browsers */
	     url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

p, tr {
    font-family: georgia;
    font-weight: 500;
    font-size: 16px;
    color: #444;
}

h1, 
h2,
h3,
h4,
table {
    font-family: 'Abril Fatface', cursive, helvetica, sans-serif;
}

a {
    color: inherit;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

a:hover {
    color: deepskyblue;
    text-decoration: none;
}

#services span {
    color: hotpink;
}

#services span:hover {
    color: deepskyblue;
}

a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

.line {
    height: 1px;
    margin: 15px 0;
    background: rgba(0,0,0,0.1);
    width: 100%;
    }

.line-thick {
    height: 5px;
    margin: 12px 0;
    background: rgba(0,0,0,0.1);
    width: 40%;
    }
    
.btn, .btn-default {
    width: 100px;
    margin: 0;
}


/* banner button */

#banner .button {
    margin: 20px 0;
    opacity: 0;
}

h3.button a {
    width: auto;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

h3.button a:hover {
    color: #fff;
    background: hotpink;
    border: 1px solid hotpink;
    text-decoration: none;
}

h3.button a:focus {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    text-decoration: none;
}


/* section read more buttons */

h4.button {
    margin: 20px 0;
}

h4.button a {
    width: auto;
    color: darkgrey;
    background: transparent;
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

h4.button a:hover {
    color: #fff;
    background: hotpink;
    border: 1px solid hotpink;
    text-decoration: none;
}

h4.button a:focus {
    color: darkgrey;
    background: transparent;
    border: 1px solid darkgrey;
    text-decoration: none;
}
    
    
/* Remove the navbar's default margin-bottom and rounded borders */ 
    
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


/* nav */

nav {
    font-weight: 900;
}

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    z-index: 9999;
    line-height: 1.42857143 !important;
    letter-spacing: 1px;
    border: 0;
    border-radius: 0;
}


/* navbar links, brand, menu icon color/size/bg changes on hover */

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    text-shadow: 1px 1px 10px #000;
    font-size: 20px !important;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.navbar .navbar-brand:hover {
    color: hotpink!important;
    background: #fff;
    cursor: pointer;   
} 

.navbar-nav li a:hover {
    color: hotpink !important;
    background-color: transparent !important; 
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    text-decoration: overline;
    cursor: pointer;
}

.navbar-nav li.active a {
    color: hotpink !important;
    background-color: transparent !important; 
    text-decoration: overline;
}


/* navbar change bg color on scroll (use .scrolled on any class) */

.navbar.scrolled {
  background-color: rgba(0,0,0,0.3) !important;
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

/* mobile menu icon */

.navbar-default .navbar-toggle, span .icon-bar {
    color: #fff;
    border: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* individual menu span bar color - KEY - hamburger menu "color" (span, .icon-bar) is controlled by "background", not "color" */

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}


/* make hamburger spans cross on click 'X' */
/*https://stackoverflow.com/questions/37758887/animated-x-icon-for-bootstrap-toggle*/

.navbar-toggle {
    border: none;
/*    border-left: 2px solid #fff;*/
    background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navbar-toggle .top-bar {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}


/* Remove "active" background color on menu icon after clicking */

.navbar-default .navbar-toggle:focus {
    background: none;
}


/* containers */

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

/* found flex: 1 0 400px to break earlier = better performance */
.flex-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 400px;
            flex: 1 0 400px;
    padding: 20px 30px;
    }

/* change footer flex-items - {flex: 1 0 auto} - original was causing a weird wrapping problem with nested .fa icons*/

#footer .flex-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}


/* flex-item size */

.flex-2 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
} 

.flex-3 {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
}

.flex-4 {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
}
    

/* flex-order */

.order-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
}
.order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
.order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
.order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
}
.order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
}
.order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
}


/* container heights */

.min-50 {
    min-height: 50vh;
    }

.min-100 {
    min-height: 100vh;
    }
 
    
/* text etc. alignment */

.align-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.align-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.align-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.align-bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* remove padding */

.p-0 {
    padding: 0;
}

#about .flex-item:first-of-type {
    padding: 0;
}
#about img,
#values img,
#services img,
#work img,
#pricing img {
    height: 100%; 
    min-height: 50vh; 
    padding: 0;
    object-fit: cover;
    width: 100%;
}
    

/* bg images */

div[class*=' bg-'], div[class^='bg-'] {
    max-width: 100%;
}

.bg-banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0.2))), url(/img/mason-media-dragonfruit.jpg) center no-repeat;
    background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-dragonfruit.jpg) center no-repeat;
    background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-dragonfruit.jpg) center no-repeat;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-dragonfruit.jpg) center no-repeat;
    background: url(/img/mason-media-dragonfruit.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    /* https://giphy.com/gifs/cute-christmas-winter-11BEQyXROgnLTG */
}

.img-about,
.img-values,
.img-services,
.img-pricing {
    height: 100%; 
    min-height: 50vh; 
    width: 100%;
}

.bg-about {
    background: url(/img/mason-media-polaroid.jpg) center right no-repeat;  
    background: url(/img/smartmockups-phone.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.bg-values {
    background: url(/img/mason-media-graffiti.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.bg-services {
    background: url(/img/mason-media-chips.jpeg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
        transform: scaleX(-1);
}

/* work grid images */

.bg-1 {
    background: url(/img/mason-media-redlights.jpeg) center no-repeat;
    background-size: cover;
}

.bg-2 {
    background: url(/img/mason-media-oranges.jpg) center no-repeat;
    background-size: cover;
}

.bg-3 {
    background: url(/img/mason-media-lemons.jpeg) center no-repeat;
    background-size: cover;
}

.bg-4 {
    background: url(/img/mason-media-blueberries.jpg) center no-repeat;
    background-size: cover;
}


/*==== divider full screen images ====*/

.bg-full-divider-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0.2))), url(/img/mason-media-lens.jpg) center no-repeat;
    background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-lens.jpg) center no-repeat;
    background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-lens.jpg) center no-repeat;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-lens.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-full-divider-2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0.2))), url(/img/mason-media-laptop-divider.jpg) center no-repeat;
    background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-laptop-divider.jpg) center no-repeat;
    background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-laptop-divider.jpg) center no-repeat;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-laptop-divider.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-full-divider-3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0.2))), url(/img/mason-media-blue-water.jpg) center no-repeat;
    background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-blue-water.jpg) center no-repeat;
    background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-blue-water.jpg) center no-repeat;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-blue-water.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-full-divider-4 {
/*    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-vintage-camera.jpg) center no-repeat;*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0.2))), url(/img/mason-media-lateral-thinking.jpg) center no-repeat;
    background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-lateral-thinking.jpg) center no-repeat;
    background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-lateral-thinking.jpg) center no-repeat;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-lateral-thinking.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.bg-pricing {
    background: url(/img/mason-media-origami.jpg) center no-repeat;
    background: url(/img/mason-media-butterfly-trans.png) left, url(/img/mason-media-butterfly-trans.png) center, url(/img/mason-media-butterfly-trans.png) right no-repeat;
    background: url(/img/mason-media-polaroid.jpg) right no-repeat;
    background-color: hotpink;
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 50vh;
}

.bg-footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2)), to(rgba(0,0,0,0.2))), url(/img/mason-media-footer-lens.jpg) center no-repeat;
    background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-footer-lens.jpg) center no-repeat;
    background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-footer-lens.jpg) center no-repeat;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/img/mason-media-footer-lens.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}



/* sections */

/* banner */
    
.heading {
    /*font-family: 'Montserrat', 'Abril Fatface', cursive, serif;*/
    font-size: 17vmin;
    font-weight: 900;
    line-height: 80%;
    color: #fff;
    text-shadow: 0 0 20px #000;
    margin: 0; 
    z-index: 100;
    opacity: 0;
} 

.sub-heading {
    font-family: Zilla Slab Highlight, cursive, 'Abril Fatface', cursive;
    font-size: 7vmin;
    color: #000;
    text-shadow: 0 0 5px #fff;
    margin: 15px 0;
    opacity: 0;
} 

#banner span {
    font-weight: 900;
    color: hotpink;
}

#banner .btn-lg {
    width: 150px;
    margin: 0;
    background: transparent;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#banner .btn-lg a {
    color: #fff;
    text-decoration: none;
    opacity: 0;
}

#banner .btn-lg:hover {
    color: #fff;
    background: hotpink;
    border: 1px solid hotpink;
}
    

/* full page dividers */
   
#divider-1 h1,
#divider-2 h1,
#divider-3 h1,
#divider-4 h1 {
    /*font-family: 'Abril Fatface', cursive, 'Alfa Slab One', cursive;*/
    font-size: 14vmin;
    font-weight: 900;
    line-height: 90%;
    color: #fff;
    text-shadow: 0 0 20px #000;
    margin: 0;
} 

#divider-1 h2,
#divider-2 h2,
#divider-3 h2,
#divider-4 h2 {
    font-family: Zilla Slab Highlight, cursive, 'Abril Fatface', cursive;
    font-size: 7vmin;
    color: #000;
    text-shadow: 0 0 5px #fff;
    margin: 0 0 15px;
} 


/* values */

.dotted {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 0, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 0px, transparent 1px, transparent 100%);
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  background-size: 5px 5px;
  }
  
/* tabs-right custom inclusion of right, left and below tabs */

.nav-tabs > li {
  float: right;
}

.tabs-right > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}


/*values section numbers */

#values h1 {
    font-family: 'Mrs Sheppards', cursive, Abril Fatface, cursive, serif;
}

#values li a {
    color: #444;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#values li a:hover, #values li a:focus {
    color: hotpink;
}


/* services */

#services .fa,
#pricing .fa {
    -webkit-text-stroke: 2px hotpink;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 8vmin;
    margin-top: 5px;
}

#services .fa:hover,
#pricing .fa:hover {
    color: deepskyblue;
    -webkit-text-stroke: #fff;
    text-shadow: 0 0 5px hotpink, 0 0 10px hotpink, 0 0 25px hotpink, 0 0 35px hotpink;
    cursor: pointer;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}


/* work section tabs */

/* work section thumbnails */

#work img {
    margin: 10px auto;
    padding: 0;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

/* highlight work img thumbnails on hover */

#work img {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; 
}

#work img:hover,
#work img:focus {
    -webkit-box-shadow: 0 0 10px #000, 0 0 20px #000;
            box-shadow: 0 0 10px #000, 0 0 20px #000; 
}

#work li a {
    padding: 10px;
    margin: 10px 0 0;
}


/* nav-tabs: remove borders and background */

#work .nav-justified > li > a {
    border: none !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    margin: 10px 0;
    padding: 10px;
}
    
#work .nav-justified > li > a:hover{
    background: none;
}

/* work section image grid */

#work .flex-item-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    min-height: 25vh;
    padding: 20px;
}

#work .no-padding {
    padding: 0;
}

#work h3 {
    color: #fff;
    border-top: 2px solid #fff;
    padding-top: 5px;
    text-shadow: 0 0 20px #000;
}

.work-heading {
    color: #fff;
    background: #000;
    padding: 10px 15px;
	font-size: 5vmin;
	position: relative;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#at, #mc, #nn, #jm, #dj {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/* enlarge client headings on hover */
#at:hover > .work-heading,
#mc:hover > .work-heading,
#nn:hover > .work-heading,
#jm:hover > .work-heading,
#dj:hover > .work-heading {
    font-size: 6vmin;
}

.bg-work {
    background: url(/img/mason-media-yellow-coffee.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}


.flex-item-grid.at {
    background: url(/img/at-banner-flower.jpg) center;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.flex-item-grid.mc {
    background: url(/img/mc-skyline.jpg) bottom no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.flex-item-grid.nn {
    background: url(/img/n2-tablet.jpg) center no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.flex-item-grid.jm {
    background: url(/img/jm-subway.jpg) center no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.flex-item-grid.dj {
    background: url(/img/djm-turntable-banner-static.jpg) center no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-size: 130%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* reduce/change client bg images on hover */

.flex-item-grid.at:hover,
.flex-item-grid.mc:hover,
.flex-item-grid.nn:hover,
.flex-item-grid.jm:hover,
.flex-item-grid.dj:hover {
  background-size: 100%;
}

#work .button {
    opacity: 0;
    text-shadow: 0 0 5px #000;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}




/* pricing tables/tabs */

#pricing .intro p {
    font-weight: 700;
}

#pricing .intro p:last-child {
    font-weight: normal;
    margin-bottom: 20px;
}

/* IMPORTANT - tab heading size was causing overflow @mobile: adjust font-size */

#pricing h3 {
    margin: 10px 0 20px;
    font-size: 4vmin;
}

/* pricing tables */

#pricing .tab-content {
    width: 100%;
    padding: 20px 10px 0;
}


/* span fine print force display table */

#pricing span {
    display: table;
}


/* footer */

#footer h1 {
    font-family: 'Abril Fatface', cursive,'Alfa Slab One', cursive;
    font-size: 14vmin;
    font-weight: 900;
    line-height: 90%;
    color: #fff;
    text-shadow: 0 0 20px #000;
    margin: 20px 0;
} 

#footer h5 {
    font-family: 'Abril Fatface', cursive, Zilla Slab Highlight, cursive, sans-serif;
    font-size: 5vmin;
    color: #fff;
    text-shadow: 0 0 20px #000;
} 

.line-footer {
    height: 2px;
    margin: 25px 0;
    background: #fff;
    width: 50%;
}

#footer .fa {
    -webkit-text-stroke: 3px hotpink;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 12vmin;
    margin: 0 10px;
}

#footer .fa:hover {
    color: deepskyblue;
    -webkit-text-stroke: #fff;
    text-shadow: 0 0 5px hotpink, 0 0 10px hotpink, 0 0 25px hotpink, 0 0 35px hotpink;
    cursor: pointer;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

#footer .fa-chevron-up {
    font-size: 5vmin;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    padding: 10px;
    margin: 10px;
}

/*
#footer .scrollToTop {
	padding: 10px; 
	text-align: center; 
	font-weight: bold;
	color: #444;
	text-decoration: none;
}

.scrollToTop:hover{
	text-decoration:none;
}
*/


/*===== Portfolio Pages =====*/

/* banner arrows */

.fa-long-arrow-down {
    opacity: 0;
}

/* link underline animation */

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #444;
  height: 3px;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.underline:visited {
    width: 0;
}

.folio-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*===== Surefire Sweat Page =====*/

.sfs-logo {
    height: 50px;
    width: 200px;
    margin: 0;
}

.bg-sfs-banner {
    background: url(/img/sfs-iphone-mockup-2.jpeg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}



/*===== Matthew Curry Page =====*/

.mc-logo {
    height: 100px;
    width: 100px;
    margin: 0;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.about-logo,
.n2-about-logo,
.jm-about-logo,
.c-about-logo {
    height: 80px;
    width: 80px;
    margin: 5px 0;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.mc-logo,
.at-logo,
.n2-logo,
.jm-logo,
.c-logo {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#mc-home h3.button a {
    color: #0fbe7c;
    border: 1px solid #0fbe7c;
}

.bg-mc-banner {
    background: url(/img/mc-desktop-buildings-trans.png) bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.bg-mc-devices {
    background: url(/img/mc-portfolio-devices.png) center;
    background-size: cover;
    min-height: auto;
}

.bg-mc-ipad {
    background: url(/img/mc-ipad.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.bg-mc-skyline {
    background: url(/img/mc-skyline.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.bg-mc-phone {
    background: url(/img/mc-portfolio-mobile-big.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.bg-mc-pad-phone {
    background: url(/img/mc-portfolio-pad-phone-trans.png) right no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.bg-mc-footer {
    background: url(/img/smartmockups-phone.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}

#mc-share .container-fluid,
#at-share .container-fluid,
#n2-share .container-fluid,
#jm-share .container-fluid,
#c-share .container-fluid {
    margin-left: 0;
    margin-right: 0;
}

#mc-share .row,
#at-share .row,
#n2-share .row,
#jm-share .row,
#c-share .row {
    padding: 15px 0;
}

#mc-share .fa,
#at-share .fa,
#n2-share .fa,
#jm-share .fa,
#c-share .fa {
    color: #444;
    margin: 0 10px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#mc-share .fa:hover,
#at-share .fa:hover,
#n2-share .fa:hover,
#jm-share .fa:hover,
#c-share .fa:hover {
    -webkit-text-stroke: 2px #444;
    color: transparent;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.visit a {
    color: #444;
    padding: 5px 0;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


/*===== Advance Therapy Page =====*/

.at-logo {
    height: 100px;
    width: 100px;
    margin: 15px 0;
}

.at-about-logo {
    height: 80px;
    width: 80px;
    margin: 0;
    border-radius: 5px;
}

#at-home h3.button a {
    color: #0fbe7c;
    border: 1px solid #0fbe7c;
}

.bg-at-banner {
    background: url(/img/at-banner-flower.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.bg-at-laptop-green {
    background: url(/img/at-laptop-green-trans.png) center no-repeat;
/*    background-size: cover;*/
    min-height: 50vh;
    max-width: 100%;
}

.bg-at-iphone {
    background: url(/img/at-iphone-2.jpg) center;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

.bg-at-therapists {
    background: url(/img/at-services.jpg) center no-repeat;
    background: url(/img/at-therapists.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

#at-share .container-fluid {
    margin-left: 0;
    margin-right: 0;
}

#at-share .row {
    padding: 15px 0;
}


/* N2 page */

.n2-logo {
    height: 100px;
    width: 100px;
    margin: 15px 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

#n2-banner .fa-long-arrow-down,
#jm-banner .fa-long-arrow-down,
#c-banner .fa-long-arrow-down {
    color: #fff;
    text-shadow: 0 0 20px #000;
}

.bg-n2-banner {
    background: url(/img/n2-iphone-bw.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.bg-n2-about {
    background: url(/img/n2-banner.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

.bg-n2-collage-4 {
    background: url(/img/n2-collage-4.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

.bg-n2-collage {
    background: url(/img/n2-collage.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

.bg-n2-tablet {
    background: url(/img/n2-tablet.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

#n2-desc .flex-item.order-6 {
    padding: 0;
}

/* Jen Mason page */

.jm-logo {
    height: 100px;
    width: 100px;
    margin: 15px 0;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.bg-jm-banner {
    background: url(/img/jm-wood.jpg) center no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.bg-jm-ipad {
    background: url(/img/jm-ipad-land.jpeg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

.bg-jm-phone {
    background: url(/img/jm-phone.jpeg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

.bg-jm-subway {
    background: url(/img/jm-subway.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}


/* Copetin page */

.c-logo {
    height: 100px;
    width: 100px;
    margin: 10px 0;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}

.bg-c-banner {
    background: url(/img/copetin-carousel-bar.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.bg-c-ipad {
    background: url(/img/copetin-ipad.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.bg-desk {
    background: url(/img/copetin-mockup-desk.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
    max-width: 100%;
}

.bg-c-phone {
    background: url(/img/copetin-phone-big.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}

.bg-c-laptop {
    background: url(/img/copetin-laptop.jpg) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}



/*===== media queries =====*/

@media screen and (max-width: 1920px ) {
    .dotted {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 0, transparent .5px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent .5px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent .5px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 0px, transparent .5px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
    background-size: 3px 3px;
  }
}

@media (max-width: 1024px) {

    /* Make backround images scroll on mobile */
    div[class*=' bg-'], div[class^='bg-'] {
    background-attachment: scroll;
    }
    #divider-2 h1 {
        font-size: 13vmin;
    }
}
@media (max-width: 1000px) {
/*  force menu collapse earlier */
     .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    
    /* remove margin on left and right of collapsed nav li */
    .navbar-nav, .nabar-right {
    margin-right: -15px;
    margin-left: -15px;
    }
    
    /* remove navbar li hover effects on menu collapse */
    .navbar-nav li a:hover, .navbar-nav li.active a {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border-bottom: 0;
    cursor: pointer;
    }
}
    
   
@media (max-width: 768px) {

/* element flex order */

.order-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-order: 0;
}
.order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-order: 1;
}   
.order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-order: 2;
}   
.order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-order: 3;
}   
.order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    -webkit-order: 4;
}   
.order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    -webkit-order: 5;
}   
.order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
     -webkit-order: 6;
    }
    
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

.flex-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

#banner .flex-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

#banner h1 {
    font-size: 20vw;
    line-height: 60%;
  }  
  
  .sub-heading {
      text-align: center;
  }
  
  

/* force span in banner title to line-break on mobile */

#banner span {
    display: table;
    letter-spacing: 5px;
    letter-spacing: 19px;
    position: relative;
    z-index: -1;
  }
 

#mc-banner .flex-item,
#at-banner .flex-item,
#n2-banner .flex-item,
#jm-banner .flex-item,
#c-banner .flex-item {
    padding: 50px 26px;
}

.mc-logo,
.at-logo,
.n2-logo,
.jm-logo,
.c-logo {
    margin: 10px 0;
}

    
/* nav-tabs: change justified vertical stacking to horizontal @ mobile */
    
.nav-justified > li {
    display: table-cell;
    width: 1%;
}
    
/*  pricing: reduce li a padding to center  */
    
#pricing li a {
    padding: 10px;
    margin: 10px 0 0;
}
    
#pricing h3 {
    font-size: 4vw;
    }
        
/* footer */

#footer .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
}

#footer .footer-icon {
    padding: 0 13px;
    }
    
/*  matt currry + portfolio page    */
    
.bg-mc-devices {
    background: url(/img/mc-portfolio-devices.png) center;
    background-size: cover;
    min-height: 50vh;
}
    
#mc-share .flex-item,
#at-share .flex-item,
#n2-share .flex-item,
#jm-share .flex-item,
#c-share .flex-item {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    
.bg-c-banner {
    background-position: 60% 100%;
    }    

/*    end 768px queries */
}

/*===== 600px =====*/


@media (max-width: 600px) {
 
 #banner span {
    display: table;
    letter-spacing: 3px;
    font-size: 23vmin;
  }
 
  
 p {
    font-size: 15px;
}

 tr {
    font-size: 13px;
}

/* reduce divider titles letter spacing on mobile */
    
#divider-1 h1, #divider-2 h1, #divider-3 h1, #divider-4 h1 {
    font-size: 14vmin;
    line-height: 80%;
    letter-spacing: -1px;
}
        
/* reduce flex item padding on mobile */
/*.flex-item {*/
/*    padding: 20px 26px;*/
/*}*/
    
#divider-2 h1 {
    font-size: 13vmin;
    }
        
/* reduce size of team img thumbnails mobile */
    
#work img {
    margin: 0;
    height: 63px;
    width: 63px;
    padding: 0;
    }

/*reduce padding between thumbnails on mobile (caused overflow) */
#work .nav-justified > li > a {
    padding: 5px;
    }
    
/*    reduce padding between pricing tabs on mobile */
#pricing li a {
    padding: 7px;
    }
    
#landing h3,
#template h3,
#custom h3 {
    font-size: 18px;
    border-top: 1px solid lightgrey;
    padding-top: 14px;
    }   
   
/*  work section */
    
/*  At page  */

.bg-at-laptop-green {
    background: url(/img/at-laptop-green-trans.png) center no-repeat;
    background-size: cover;
    min-height: 50vh;
}
    
/*  portfolio banners  */
    
/* reduce portfolio page banner heights on mobile */
.bg-mc-banner,
.bg-at-banner,    
.bg-n2-banner,
.bg-jm-banner,
.bg-c-banner {
    height: 500px;
    max-width: 100%;
    } 
    
.mc-logo,
.at-logo,
.n2-logo,
.jm-logo,
.c-logo {
    height: 70px;
    width: 70px;
    }
}
  


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (-o-min-device-pixel-ratio: 5/4),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
